/* VARIABLES */
:root {
  /* Colors */
  --button-color: hsl(356, 56%, 46%);
  --button-color-2: hsl(11, 51%, 42%);
  --progress-bar-fill: hsl(356, 76%, 44%);
  --color-accent: hsla(234, 87%, 50%, 0.082);
  --color-bg: hsl(0, 0%, 100%);
  --color-bg-secondary: hsl(0, 0%, 91%);
  --color-secondary: hsl(356, 76%, 26%);
  --color-secondary-accent: hsla(276, 89%, 48%, 0.043);
  --color-shadow: hsl(0, 0%, 96%);
  --color-text: hsl(0, 0%, 0%);
  --color-border-grid: hsl(0, 0%, 75%);
  --correct-indicator: hsl(128, 60%, 42%);
  --wrong-indicator: hsl(348, 83%, 47%);
  --warning-indicator: hsl(54, 88%, 47%);
  --color-border-input: hsl(0, 0%, 40%);
  --table-header-color: hsla(234, 87%, 50%, 50%);
  /* Fonts */
  --title-font: "Open Sans Condensed", sans-serif;
  --text-font: "Open Sans", sans-serif;
  /* Font sizes */
  --h1-fs: 3.2rem;
  --h2-fs: 2.4rem;
  --h3-fs: 1.8rem;
  --body-fs: 1.6rem;
  --smaller-fs: 1.2rem;
  /* Others */
  --container-max-width: 145rem;
}

/* GLOBAL STYLES */
html {
  font-size: 62.5%;
  font-family: var(--text-font);
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: var(--title-font);
}

h1 {
  font-size: var(--h1-fs);
  line-height: 1.1;
}

h2 {
  font-size: var(--h2-fs);
}

h3,
th {
  font-size: var(--h3-fs);
}

p,
ul,
label,
input,
select,
textarea,
td {
  font-size: var(--body-fs);
  max-width: 70ch;
}

button {
  font-size: var(--body-fs);
  color: white;
}

button:disabled,
input:disabled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
label,
select,
textarea {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  --offset-color: var(--color-border-input);
  border: 1px solid var(--color-border-input);
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  width: 100%;
  max-width: 60ch;
}

fieldset {
  --vertical-flow-space: 1.6rem;
  padding: 2rem;
}

[hidden] {
  display: none;
}

table {
  border: 1px solid var(--color-border-input);
  border-radius: 1rem;
  border-spacing: 0;
  width: 100%;
  max-width: 40rem;
  padding: 0;
}

table td,
table th,
table tr {
  padding: 0.7rem 1rem;
  text-align: left;
}

table td:last-child {
  text-align: right;
  width: 30%;
}

table td[colspan="2"] {
  padding: 0.5rem;
}

table tr:nth-child(odd) {
  background-color: var(--color-accent);
}

table th {
  background-color: var(--table-header-color);
  border-collapse: collapse;
  color: white;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline: solid 2px var(--offset-color, var(--button-color-2));
    outline-offset: 4px;
  }
  :focus[data-size=small] {
    outline-offset: 2px;
  }
}
/* COMPOSITION */
/*
*Main layout compositions classes
*/
.main-grid {
  display: grid;
  grid-template-rows: 2.5rem 1fr 9rem;
}

.section-on-screen {
  grid-row: 2/3;
  overflow-y: auto;
}
.section-on-screen[data-size=full-size] {
  grid-row: 1/4;
  margin-bottom: 0;
}

.buttons-on-screen {
  grid-row: 3/4;
  place-content: center;
}

/*
*Flow composition class
*/
.flow > * + * {
  margin-top: var(--vertical-flow-space, 1em);
  margin-left: var(--horizontal-flow-space, 0);
}

/* UTILITIES */
/*
*Wrapper utility
*/
.wrapper {
  display: inherit;
  align-items: inherit;
  justify-content: inherit;
  width: 100%;
  max-width: var(--container-max-width);
  margin-left: auto;
  margin-right: auto;
}

.indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  width: 20rem;
  height: 20rem;
  border-radius: 50%;
  font-size: 4rem;
}

/*
*Correct-indicator utility
*/
.correct.border {
  border: 10px double var(--correct-indicator);
}
.correct.text {
  color: var(--correct-indicator);
}

/*
*Wrong-indicator utility
*/
.wrong.border {
  border: 10px double var(--wrong-indicator);
}
.wrong.text {
  color: var(--wrong-indicator);
}

/*
*Warning-indicator utility
*/
.warning.border {
  border: 10px double var(--warning-indicator);
}
.warning.text {
  color: var(--warning-indicator);
}

.button {
  padding: 1.2rem 2.4rem;
  height: auto;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  background-color: var(--button-color-2);
}
.button[data-size=small] {
  --offset-color: var(--color-secondary);
  position: relative;
  top: -0.6rem;
  display: inline-block;
  margin: 0.4rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--color-secondary);
  font-family: var(--title-font);
  font-size: 0.9rem;
  border-radius: 3px;
}
.button[data-font-size=smaller] {
  font-size: var(--smaller-fs);
}

.bold {
  font-weight: bold;
}

.top-radius {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom-left-radius {
  border-bottom-left-radius: 1rem;
}

.bottom-right-radius {
  border-bottom-right-radius: 1rem;
}

/* UTILITIES */
/*
*Progress-bar block
*/
.progress-bar-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 2rem;
}
.progress-bar-container::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: var(--color-border-grid);
}
.progress-bar-container::before {
  content: "";
  position: absolute;
  bottom: -2.5rem;
  left: 0;
  width: 100%;
  height: 2.5rem;
  background: linear-gradient(white, rgba(255, 255, 255, 0.001));
  z-index: 2;
}

.progress-bar {
  --vertical-flow-space: 0;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 3px;
  overflow: hidden;
  padding: 0;
  border-radius: 10px;
  width: 100%;
  max-width: 80rem;
  height: 40%;
}
.progress-bar div {
  position: relative;
  display: inline;
  height: 100%;
  background-color: #e6e6e6;
}
.progress-bar div:nth-child(1) {
  background-color: var(--progress-bar-fill);
}
.progress-bar div:not(:nth-child(1))::after {
  content: "";
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--progress-bar-fill);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.2s ease-out;
}
.progress-bar div:not(:nth-child(1)).active:after {
  transform: scaleX(1);
  transition: transform 0.2s ease-out;
}

.page-section {
  --vertical-flow-space: 1.2rem;
  position: relative;
  padding: 2rem;
  margin-bottom: 2.5rem;
}
.page-section ul {
  --vertical-flow-space: 1rem;
}
.page-section[hidden] {
  display: none;
}
.page-section > table {
  margin-left: auto;
  margin-right: auto;
}
.page-section > table + table {
  margin-top: 2rem;
}

.button-container {
  --vertical-flow-space: 0;
  --horizontal-flow-space: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.button-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 2px;
  background-color: var(--color-border-grid);
}
.button-container::after {
  content: "";
  position: absolute;
  top: -4.5rem;
  left: 0;
  width: 100%;
  height: 4.5rem;
  background: linear-gradient(rgba(255, 255, 255, 0.001), white);
  z-index: 2;
}
.button-container[hidden] {
  display: none;
}

.modal {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  left: 0;
  top: 0;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  overflow: -moz-hidden-unscrollable;
  z-index: 2;
}
.modal[hidden] {
  display: none;
}
.modal-content {
  --vertical-flow-space: 1rem;
  justify-content: flex-start;
  padding: 1.5rem 2rem;
  background-color: white;
  width: 100%;
  max-height: 40rem;
  overflow-y: auto;
  border-radius: 0 0 1rem 1rem;
}
.modal-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1.5rem 2rem;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 1rem 1rem 0 0;
}
.modal-header h3 {
  font-size: 2rem;
  margin-right: 0.5rem;
}
.modal-header span {
  --offset-color: white;
  font-size: 3.2rem;
  cursor: pointer;
}
.modal ul[role=list] {
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 0;
  max-height: 28rem;
  max-width: 100%;
  padding: 1rem;
  font-family: var(--title-font);
  font-weight: bold;
  background-color: white;
  border-radius: 0.5rem;
  cursor: pointer;
}
.modal ul[role=list] li {
  padding: 2rem;
  border-bottom: 1px solid var(--color-border-grid);
}
.modal ul[role=list] li:first-child {
  border-top: 1px solid var(--color-border-grid);
}
.modal ul[role=list] li:hover {
  background-color: var(--color-accent);
  transition: background-color 0.2s ease-in;
}

/*# sourceMappingURL=main.css.map */
