/* COMPOSITION */

/*
*Main layout compositions classes
*/

.main-grid {
  display: grid;
  grid-template-rows: 2.5rem 1fr 9rem;
}

.section-on-screen {
  grid-row: 2 / 3;
  overflow-y: auto;

  &[data-size="full-size"] {
    grid-row: 1 / 4;
    margin-bottom: 0;
  }
}

.table-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28.2rem, 4rem));
  gap: 2rem;
  width: 100%;
  max-width: 94rem;
  margin-left: auto;
  margin-right: auto;
}

.buttons-on-screen {
  grid-row: 3 / 4;
  place-content: center;
}

/*
*Flow composition class
*/

.flow > * + * {
  margin-top: var(--vertical-flow-space, 1em);
  margin-left: var(--horizontal-flow-space, 0);
}
