/* COMPOSITION */

/*
*Main layout compositions classes
*/

.main-grid {
  display: grid;
  grid-template-rows: 2.5rem 1fr 9rem;
  height: 100vh;
}

.section-on-screen {
  grid-row: 2 / 3;
  overflow-y: auto;

  &[data-size="full-size"] {
    grid-row: 1 / 4;
    // margin-bottom: 0;
    // padding-bottom: 2rem;
  }
}

.buttons-on-screen {
  grid-row: 3 / 4;
  place-content: center;
}

/*
*Flow composition class
*/

.flow > * + * {
  margin-top: var(--vertical-flow-space, 1em);
  margin-left: var(--horizontal-flow-space, 0);
}
