@media screen and (min-width: 768px) {
  .report-grid {
    grid-template-columns: 0.4fr 0.6fr;

    & .indicator-container {
      grid-row: 1 / 3;
      grid-column: 1 / 2;
    }

    & h3 {
      grid-row: 1 / 2;
      grid-column: 2 / 3;
    }

    & p {
      &:nth-child(3) {
        grid-row: 2 / 3;
        grid-column: 2 / 3;
      }

      &:nth-child(4) {
        grid-row: 3 / 4;
        grid-column: 1 / 3;
      }

      &:nth-child(5) {
        grid-row: 4 / 5;
        grid-column: 1 / 3;
      }
    }
  }

  .button-container,
  .progress-bar-container {
    left: 10%;
  }

  .page-section:not([data-size="full-size"]) .wrapper {
    padding-left: 10%;
  }

  .button {
    &[data-font-size="smaller"] {
      font-size: var(--body-fs);
    }
  }

  .section-on-screen[data-size="full-size"] .wrapper {
    & > h2 {
      font-size: var(--h1-fs);
    }

    & h2 {
      text-align: center;
    }
  }
}
