.bold {
  font-weight: bold;
}

.top-radius {
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.bottom-left-radius {
  border-bottom-left-radius: 1rem;
}

.bottom-right-radius {
  border-bottom-right-radius: 1rem;
}
