.button-container {
  --vertical-flow-space: 0;
  --horizontal-flow-space: 2rem;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--color-border-grid);
  }

  &[hidden] {
    display: none;
  }
}
