.button-container {
  --vertical-flow-space: 0;
  --horizontal-flow-space: 2rem;
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: white;
  z-index: 2;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--color-border-grid);
  }

  &::after {
    content: "";
    position: absolute;
    top: -4.5rem;
    left: 0;
    width: 100%;
    height: 4.5rem;
    background: linear-gradient(rgba(255, 255, 255, 0.001), white);
    z-index: 2;
  }

  &[hidden] {
    display: none;
  }
}
