.button-container {
  position: relative;
  display: flex;
  place-items: center;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 10%;
    width: 80%;
    height: 2px;
    background-color: var(--color-border-grid);
  }
}
