.modal {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  left: 0;
  top: 0;
  padding: 10%;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100vh;
  overflow: -moz-hidden-unscrollable;
  z-index: 2;

  &[hidden] {
    display: none;
  }

  &-content {
    --vertical-flow-space: 1rem;
    justify-content: flex-start;
    padding: 1.5rem 2rem;
    background-color: white;
    width: 100%;
    max-height: 40rem;
    overflow-y: auto;
    border-radius: 0 0 1rem 1rem;
  }

  &-header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem 2rem;
    background-color: var(--color-secondary);
    color: white;
    border-radius: 1rem 1rem 0 0;

    & h3 {
      font-size: 2rem;
      margin-right: 0.5rem;
    }

    & span {
      --offset-color: white;
      font-size: 3.2rem;
      cursor: pointer;
    }
  }

  & ul[role="list"] {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin: 0;
    max-height: 28rem;
    max-width: 100%;
    padding: 1rem;
    font-family: var(--title-font);
    font-weight: bold;
    background-color: hsl(0, 100%, 100%);
    border-radius: 0.5rem;
    cursor: pointer;

    & li {
      padding: 2rem;
      border-bottom: 1px solid var(--color-border-grid);

      &:first-child {
        border-top: 1px solid var(--color-border-grid);
      }

      &:hover {
        background-color: var(--color-accent);
        transition: background-color 0.2s ease-in;
      }
    }
  }
}
