.page-section {
  --vertical-flow-space: 1.2rem;
  padding: 2rem;

  & .button {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  & ul {
    --vertical-flow-space: 1rem;
  }

  &[hidden] {
    display: none;
  }
}
