.page-section {
  --vertical-flow-space: 1.2rem;
  position: relative;
  padding: 2rem;
  margin-bottom: 2.5rem;

  & ul {
    --vertical-flow-space: 1rem;
  }

  &[hidden] {
    display: none;
  }
}
