.page-section {
  --vertical-flow-space: 1.2rem;
  position: relative;
  padding: 2rem;
  margin-bottom: 2.5rem;

  & ul {
    --vertical-flow-space: 1rem;
  }

  &[hidden] {
    display: none;
  }

  & > table {
    margin-left: auto;
    margin-right: auto;

    & + table {
      margin-top: 2rem;
    }
  }
}
