/* GLOBAL STYLES */

html {
  font-size: 62.5%;
  font-family: var(--text-font);
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
th {
  font-family: var(--title-font);
}

h1 {
  font-size: var(--h1-fs);
  line-height: 1.1;
}

h2 {
  font-size: var(--h2-fs);
}

h3,
th {
  font-size: var(--h3-fs);
}

p,
ul,
label,
input,
select,
textarea,
td {
  font-size: var(--body-fs);
  max-width: 70ch;
}

button {
  font-size: var(--body-fs);
  color: white;
}

button:disabled,
input:disabled {
  background: var(--color-bg-secondary);
  border-color: var(--color-bg-secondary);
  color: var(--color-text-secondary);
  cursor: not-allowed;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input,
label,
select,
textarea {
  display: block;
  max-width: 100%;
}

input,
select,
textarea {
  --offset-color: var(--color-border-input);
  border: 1px solid var(--color-border-input);
  border-radius: 0.5rem;
  padding: 0.6rem 1.2rem;
  width: 100%;
  max-width: 60ch;
}

fieldset {
  --vertical-flow-space: 1.6rem;
  padding: 2rem;
}

[hidden] {
  display: none;
}

// TABLES

table {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  border-spacing: 0;
  width: 100%;
  max-width: 80rem;
  padding: 0;
}

table td,
table th,
table tr {
  padding: 0.7rem 1, 2rem;
  text-align: left;
}

table td:last-child {
  text-align: right;
  width: 30%;
}

table td[colspan="2"] {
  padding: 0.5rem;
}

table thead {
  background-color: var(--color);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  color: var(--color-bg);
  margin: 0;
  padding: 0;
}

table thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
  text-align: var(--justify-normal);
}

table tr:nth-child(even) {
  background-color: var(--color-accent);
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline: solid 2px var(--offset-color, var(--button-color-2));
    outline-offset: 4px;

    &[data-size="small"] {
      outline-offset: 2px;
    }
  }
}
