/* GLOBAL STYLES */

html {
  font-size: 62.5%;
  font-family: var(--text-font);
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--title-font);
}

h1 {
  font-size: var(--h1-fs);
  line-height: 1.1;
}

h2 {
  font-size: var(--h2-fs);
}

h3 {
  font-size: var(--h3-fs);
}

p,
ul,
label {
  font-size: var(--body-fs);
  max-width: 70ch;
}

button {
  font-size: var(--body-fs);
  color: white;
}

[hidden] {
  display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  :focus {
    transition: outline-offset 0.25s ease;
    outline-offset: 5px;
  }
}
