.button[data-size="small"] {
  --offset-color: var(--color-secondary);
  position: relative;
  top: -0.6rem;
  display: inline-block;
  margin: 0.4rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--color-secondary);
  font-family: var(--title-font);
  font-size: 0.9rem;
  border-radius: 3px;
}

.button[data-font-size="smaller"] {
  font-size: var(--smaller-fs);
}
